<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top {{ category }} in {{ location.city.name }}, {{ location.region.code }}</title>
</head>
<body>
    <p><a href="/">
        List of tops
    </a></p>
    {% for facility in facilities %}
        <div>
            <p><b>Name: </b>{{ facility.name }}</p>
            <p><b>Categories: </b></p>
            <div>
                {% for category in facility.categories %}
                    <p>
                    - <a href="/{{ location.region.code }}/{{ location.city.name }}/{{ category }}">
                        {{ category }}
                    </a>
                    </p>
                {% endfor %}
            </div>
            <p><b>Location: </b>{{ location.city.name }},
                {{ location.region.name }}({{ location.region.code }}),
                {{ location.country.name }}({{ location.country.code }})</p>

            {% for facility_info in facility.info %}
                <p><b>Address: </b>{{ facility_info.address }}</p>

                <a href="{{ facility_info.phone }}">Phone: {{ facility_info.phone | replace('tel:', '') }}</a>
                <p><a href="{{ facility_info.website_url }}"><b>Website</b></a></p>
                <div>
                    <img src="{{ facility_info.image_url }}" alt="{{ facility.name }}">
                </div>

                <p><b>About: </b>{{ facility_info.about }}</p>
            {% endfor %}
            <br>
            <p><b>Total rating: </b>{{ facility.total_rating }}</p>
            <p><b>Total reviews: </b>{{ facility.total_reviews }}</p>
            <p>------- Reviews -------</p>
            {% for source in facility.sources %}
                <p><b>{{ source.name }}</b> rating: <b>{{ source.rating }}</b> across <b>{{ source.reviews }}</b> reviews </p>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
</body>
</html>
