<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top {{ category }} in {{ location.city }}, {{ location.region }}, {{ location.country }}</title>
</head>
<body>
    {% for facility in facilities %}
        <div>
            <p><b>Name: </b>{{ facility.name }}</p>
            <p><b>Categories: </b></p>
            <ul>
                {% for category in facility.categories %}
                    <li>{{ category }}</li>
                {% endfor %}
            </ul>
            <p><b>Location: </b>{{ location.city }}, {{ location.region }}, {{ location.country }}</p>

            {% for facility_info in facility.info %}
                <p><b>Address: </b>{{ facility_info.address }}</p>

                <a href="{{ facility_info.phone }}">Phone: {{ facility_info.phone | replace('tel:', '') }}</a>
                <p><a href="{{ facility_info.website_url }}"><b>Website</b></a></p>
                <div>
                    <img src="{{ facility_info.image_url }}" alt="{{ facility.name }}">
                </div>

                <p><b>About: </b>{{ facility_info.about }}</p>
            {% endfor %}
            <br>
            <p><b>Total rating: </b>{{ facility.total_rating }}</p>
            <p><b>Total reviews: </b>{{ facility.total_reviews }}</p>
            <p>------- Reviews -------</p>
            {% for source in facility.sources %}
                <p><b>{{ source.name }}</b> rating: <b>{{ source.rating }}</b> across <b>{{ source.reviews }}</b> reviews </p>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
</body>
</html>
